<div class="m-4">
<div row>
<div col>
  <h1>Stupid Coach</h1>

<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question" placeholder="ask a question">
  <input type="submit" value="Ask!">
</form>
</div>
</div>
</div>
